
    <div style="display: flex; justify-content: center; align-items: center; ">
        <div class="container">
            <h1 class="emoji">🎉</h1>
            <h1>Your Application Has Been Successfully Submitted!</h1>
            <p>We’re thrilled to have you on board. Our team will review your application and reach out soon.</p>
            <p>Stay tuned!</p>
        </div>
    </div>