<div class="header-start">
    <div class="lheader-box">
        <div id="hdr-title" >urjaφ∈d <iconify-icon icon="pepicons-print:line-y" width="2rem" height="3rem"></iconify-icon> Admin</div>
        <iconify-icon icon="pepicons-print:line-y" width="3rem" height="3rem"></iconify-icon>
        <a href="/"><button style="margin-right: 1.3rem;">Test Maker</button></a>
        <a href="/app"><button>Applications</button></a>
    </div>
    <div class="rheader-box">
        <div class="prfl-hdr-box" id="prfl-hdr-box"><iconify-icon style="color: #000;" icon="line-md:account" width="2.4rem" height="2.4rem"></iconify-icon></div>
    </div>
</div>